---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="sj-wao について"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		sj-wao というサイトで、個人開発のログ、技術メモ、日々のことを書いています。<a href="/blog"
			>Blog</a
		> には作ったものや調べたことの技術メモを、<a href="/works">Works</a> には個人開発・OSSの作品をまとめています。
	</p>

	<p>
		更新頻度は気まぐれです。誰かの役に立てば嬉しいですが、基本的には自分の作業ログとして書いています。
	</p>

	<p>
		連絡や質問があれば <a href="https://github.com/Akihiro-Arai/sj-wao">GitHub</a> 経由でどうぞ。
	</p>
</Layout>
